                    roll    name     sci    math    com
                    1001    rahul    90      92      94

In [1]:
# csv

In [2]:
r=open('C://Users//rmani//Desktop//student.csv','w')

In [9]:
for i in range(6):
    d=input('enter student data: ').split()
    d=','.join(d)
    d=d+'\n'
    r.write(d)
r.close()

enter student data: roll name math sci com
enter student data: 101 jeet 90 98 78
enter student data: 102 shan 78 77 80
enter student data: 103 ram 66 67 68
enter student data: 104 mann 45 98 67
enter student data: 105 neha 88 77 66

In [5]:
t=input('enter').split()

enterroll name math sci com

In [6]:
t

['roll', 'name', 'math', 'sci', 'com']

In [7]:
','.join(t)

'roll,name,math,sci,com'

In [10]:
file=open('C://Users//rmani//Desktop//student.csv','r')

In [11]:
data=file.read()

In [12]:
print(data)

roll,name,math,sci,com
101,jeet,90,98,78
102,shan,78,77,80
103,ram,66,67,68
104,mann,45,98,67
105,neha,88,77,66

In [13]:
print(repr(data))

'roll,name,math,sci,com\n101,jeet,90,98,78\n102,shan,78,77,80\n103,ram,66,67,68\n104,mann,45,98,67\n105,neha,88,77,66\n'

In [14]:
res=data.split('\n')

In [19]:
print(repr(res[1:]))

['101,jeet,90,98,78', '102,shan,78,77,80', '103,ram,66,67,68', '104,mann,45,98,67', '105,neha,88,77,66', '']

In [16]:
res[0]

'roll,name,math,sci,com'

In [17]:
res[1]

'101,jeet,90,98,78'

In [18]:
res[2]

'102,shan,78,77,80'

In [31]:
result=[]
for item in res[1:-1]:
    y=item.split(',')
    per=str(round(sum(map(int,y[2:]))/300*100))
    y.append(per)
    y=','.join(y)
    result.append(y)
    print(repr(y))

'101,jeet,90,98,78,89'
'102,shan,78,77,80,78'
'103,ram,66,67,68,67'
'104,mann,45,98,67,70'
'105,neha,88,77,66,77'

In [33]:
result='\n'.join(result)

In [34]:
result

'101,jeet,90,98,78,89\n102,shan,78,77,80,78\n103,ram,66,67,68,67\n104,mann,45,98,67,70\n105,neha,88,77,66,77'

In [35]:
res[0]

'roll,name,math,sci,com'

In [36]:
head=res[0]+',percent\n'

In [37]:
head

'roll,name,math,sci,com,percent\n'

In [38]:
final=head+result

In [39]:
final

'roll,name,math,sci,com,percent\n101,jeet,90,98,78,89\n102,shan,78,77,80,78\n103,ram,66,67,68,67\n104,mann,45,98,67,70\n105,neha,88,77,66,77'

In [40]:
r=open('C://Users//rmani//Desktop//student_data.csv','w')
r.write(final)
r.close()

In [41]:
result

'101,jeet,90,98,78,89\n102,shan,78,77,80,78\n103,ram,66,67,68,67\n104,mann,45,98,67,70\n105,neha,88,77,66,77'

In [42]:
t=result.split('\n')

In [43]:
t

['101,jeet,90,98,78,89',
 '102,shan,78,77,80,78',
 '103,ram,66,67,68,67',
 '104,mann,45,98,67,70',
 '105,neha,88,77,66,77']

In [51]:
roll=input('Enter your roll number: ')

for i in t:
    u=i.split(',')
    
    if roll==u[0]:
        p=open(f'C://Users//rmani//Desktop//{u[1]}_result.html','w')
        per=int(u[-1])
        if per>=90:
            g="Grade A"
        elif per>=60:
            g='Grade B'
        elif per>=40:
            g='Grade C'
        else:
            g='Grade F'
        p.write(f'''
        
        <html>
                <head>
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                </head>
                <body>
                <div class='container'>

                <h1 style="text-align:center;color:green;margin-bottom:30px">Cambridge University  (California)</h1>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Roll</th>
                      <th scope="col">Name</th>
                      <th scope="col">Math</th>
                      <th scope="col">Science</th>
                    <th scope="col">Computer</th>
                    <th scope="col">Percent</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">{u[0]}</th>
                      <td>{u[1]}</td>
                      <td>{u[2]}</td>
                      <td>{u[3]}</td>
                    <td>{u[4]}</td>
                    <td>{u[5]}</td>

                    </tr>
                        
                  </tbody>
                </table>
                    <h2 style="text-align:center;color:green;">{g}</h2>
                </div>
                </body>
                </html>
        
        ''')
        p.close()

Enter your roll number: 104

In [52]:
movies=open('movies.dat')

In [ ]:
print(movies.read())