# for loop

                    
                    syntax
                    
                    string,tuple , list , range() generator
                    
                    
                    for variable in sequence:
                        statement

In [10]:
for i in 'manish':
    print(i,end=' ')

m a n i s h

In [13]:
for a in ['manish','shan','amit','rahul','payal','susmit']:
    print(a,end=' , ')

manish , shan , amit , rahul , payal , susmit ,

In [14]:
# range(startpoint,endpoint,step)

# range(10) ----> 0 to 9
# range(10,20)----> 10 to 19
# range(10,30,2)---> 10,12,14,16,...28

In [22]:
for i in range(10,20,2):
    print(i,end='\t')

10	12	14	16	18

In [25]:
n=int(input('Enter n: '))
for i in range(n,n*10+1,n):
    print(i)

Enter n: 8
8
16
24
32
40
48
56
64
72
80

In [27]:

s='bbhjhj$%$#23676VJCDFw3@!#@#bvvghg'

In [29]:
# to extract alpha or digit or specail
alpha=''
digit=''
special=''
for i in s:
    if i.isalpha():
        alpha=alpha+i
    elif  i.isdigit():
        digit=digit+i
    else:
        special=special+i
print('alphabets: ',alpha)
print('digits: ',digit)
print('special char: ',special)

alphabets:  bbhjhjVJCDFwbvvghg
digits:  236763
special char:  $%$#@!#@#

                        # patterns
                       1. 
                        *
                        ** 
                        ***
                        ****
                        *****
                        ******
                       2.
                       ******
                       *****
                       ****
                       ***
                       **
                       *
                      3.
                           *
                          **
                         ***
                        ****
                       *****
                      ******
                     4. 
                         *
                        * *
                       * * *
                      * * * *
                     * * * * *
                     
                    5.
                         *
                        * *
                       * * *
                      * * * *
                     * * * * *
                      * * * * 
                       * * *
                        * *
                         *

In [ ]:
                        *      1*'*'
                        **     2
                        ***    3
                        ****
                        *****
                        ******

In [42]:
for i in range(1,7):
    print(i*'*')

*
**
***
****
*****
******

In [39]:
                       ******    6
                       *****     5
                       ****      4
                       ***
                       **
                       *

'*****'

In [44]:
for i in range(6,0,-1):
    print('*'*i)

******
*****
****
***
**
*

In [ ]:
-----*        5*' '+'*'*1
----**        4*' '+'*'*2   
---***
--****
-*****
******

In [49]:
for i in range(1,7):
    print(' '*(6-i)+'*'*i)

     *
    **
   ***
  ****
 *****
******

In [ ]:
                         *
                        * *
                       * * *
                      * * * *
                     * * * * *

In [54]:
for i in range(1,7):
    print(' '*(6-i)+'* '*i)
for i in range(6,0,-1):
    print(' '*(6-i)+'* '*i)

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [58]:
for i in range(7):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345
123456